{
displayStrings = (
"ANTENNA INTONATION ANNATTO ANTITHET THEINE HEATHEN TITANATE ANNETTE ANEATH NEONATE ANTONIONI ATHENE OENONE ANNONA TAHINA INNATE TITANIAN ANATTA TONANT TOETOE ENATION NOTITIA NOTION TITANITE ATHENA TOITOI NONANE TATTIE THANAH 
ANTENNA INTONATION ANNATTO ANTITHET THEINE HEATHEN TITANATE ANNETTE ANEATH NEONATE ANTONIONI ATHENE OENONE ANNONA TAHINA INNATE TITANIAN ANATTA TONANT TOETOE ENATION NOTITIA NOTION TITANITE ATHENA TOITOI NONANE TATTIE THANAH 
ANTENNA INTONATION ANNATTO ANTITHET THEINE HEATHEN TITANATE ANNETTE ANEATH NEONATE ANTONIONI ATHENE OENONE ANNONA TAHINA INNATE TITANIAN ANATTA TONANT TOETOE ENATION NOTITIA NOTION TITANITE ATHENA TOITOI NONANE TATTIE THANAH "
);
}
